header{
    background-color:rgb(49, 57, 60);
    display:inline-block; /*This is here to make sure that really small screen sizes keep the header's width the full width of the screen.*/
    width:100%;
    position:fixed;
}
#fileUpload{
    display:none;
}
.menu{
    background-color:rgb(183, 173, 153);
    font-size:300%;
    border-top:grey;
    border-left:grey;
    border-right:black;
    border-bottom:black;
    border-style:solid;
    border-width:5px;
    font-weight:bolder;
    border-radius:24px;
    margin-bottom:10px;
}
.menu:hover{
    background-color:silver;
    cursor:pointer;
}
#downloadCSV{
    text-decoration-line:none;
    color:black;
    font-family:Arial;
    padding-top:2px;
    padding-left:6px;
    padding-right:6px;
    padding-bottom:2px;
}

